@keyframes shake
	8%, 41%
		-webkit-transform: translateX(-10px);
	25%, 58%
		-webkit-transform: translateX(10px);
	75%
		-webkit-transform: translateX(-5px);
	92%
		-webkit-transform: translateX(5px);
		opacity: 1
	0%, 100%
		-webkit-transform: translateX(0);