a {
	text-decoration: none;
}

h1 {
	&-stripe {
		position: relative;
		margin-bottom: $column-gutter * 2;

		&:after {
			content: '';
			width: 40%;
			height: 1px;
			background: $border-color;
			position: absolute;
			margin: auto;
			bottom: -#{$column-gutter / 1.5};
			left: 0;
			right: 0;
		}
	}
}

h1 {
	font-size: 2rem;
	font-weight: 400;
}

h2 {
	font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
	margin-bottom: $column-gutter / 1.5;
}
