@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,100);

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-size: 100%;
    font-family: $font;
    background: #f1f1f1;

    &.loading,
    &.loading * {
        cursor: wait !important;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body > header {
    padding: $column-gutter $column-gutter * 2;
    margin-bottom: $column-gutter * 2;
    background: #fff;
    box-shadow: 0 1px 4px rgba(0,0,0,0.1);

    > ul {
        position: absolute;
        right: $column-gutter * 4;
        top: 0;
        list-style: none;
        margin: 0;
        padding: 0;
        line-height: 6.25rem;

        > li {
            display: inline-block;
            margin-left: $column-gutter;

            > a {
                font-size: 0.9rem;
                text-transform: uppercase;
                color: #333;
            }
        }
    }

    > a {
        margin-left: $column-gutter * 1.5;
        text-decoration: none !important;

        > img {
            width: 30px;
        }

        > span {
            display: inline-block;
            font-size: 1.25rem;
            vertical-align: middle;
            font-weight: 300;
            margin-left: $column-gutter / 1.5;
            color: #777;
        }
    }
}

.card {
    $max-width: 70rem;
    display: block;
    position: relative;
    width: 100%;
    max-width: $max-width;
    margin: 0 auto;
    margin-bottom: $column-gutter;
    background: #fff;
    padding: $column-gutter;
    box-shadow: 0 1px 4px rgba(0,0,0,0.1);

    &-transparent {
        background: none;
        box-shadow: none;
    }

    &-right {
        text-align: right;
    }

    &-center {
        box-shadow: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 20rem;
    }

    @media only screen and (max-width: $max-width) {
        width: calc(100% - #{$column-gutter * 2});
        margin: 0 $column-gutter $column-gutter $column-gutter;
    }
}

body > main {
    > h1 {
        margin-top: 0;
    }
}

.blocks {
    list-style: none;

    > li {
        display: block;
        padding: $column-gutter / 4;
        margin-bottom: $column-gutter / 6;
        border-bottom: solid 1px #ececec;
        transition: border-bottom-color 300ms;

        &:hover {
            border-bottom-color: #ccc;
        }

        .icon {
            color: $primary-color;
            font-size: 1.25rem;
            width: 1.25rem;
            cursor: move;
        }

        > a {
            color: #000;
            text-decoration: none;
        }

        > .buttons {
            float: right;

            > a {
                display: inline-block;
                color: $primary-color;
                margin-left: $column-gutter / 3;
                font-size: 1.2rem;
                position: relative;
                cursor: pointer;

                &:hover {
                    color: $primary-color-dark;
                }
            }
        }
    }
}
