<template>
    <h1>{{ block.title }}</h1>

    <p v-if="block.items.length == 0">
        Deze categorie bevat geen pagina's.
    </p>

    <ul class="blocks" id="blocks">
        <li v-for="child in block.items | orderBy 'position'" v-bind:data-block="child.id">
            <i class="handle icon icon-before" v-bind:class="child.icon"></i>

            <a v-bind:href="child.overviewUrl">{{ child.title }}</a>

            <div class="buttons">
                <a class="icon icon-before icon-check" v-bind:class="{'icon-faded': child.isHidden}" @click="toggleVisibility(child)"></a>
                <a v-if="child.propertiesUrl" v-bind:href="child.propertiesUrl" class="icon icon-before icon-properties"></a>
                <a v-bind:href="child.editUrl" class="icon icon-before icon-edit"></a>
                <a v-bind:href="child.deleteUrl" class="icon icon-before icon-delete"></a>
            </div>
        </li>
    </ul>
</template>

<script>
    import Sortable from 'sortablejs'

    export default {

        props: ['parent'],

        data () {
            return {
                block: {
                    loading: true,
                    items: []
                },

                debounceTimeout: false
            }
        },

        methods: {

            loadBlock () {
                this.$http.get(`/cms/api/blocks/${this.parent}`).then(response => {
                    this.block = response.data.block

                    this.initSortable()
                })
            },

            initSortable () {
                //setTimeout(() => {
                    const blocks = document.querySelector('#blocks')

                    Sortable.create(blocks, {
                        handle: '.handle',

                        onEnd: (evt) => {
                            const blocks = document.querySelectorAll('#blocks li');

                            const orderedList = []

                            blocks.forEach(($block, index) => {
                              orderedList.push({
                                block: $block.dataset.block,
                                position: index + 1
                              })
                            })

                            this.$http.put(`/cms/api/blocks/${this.block.id}`, {action: 'sort', list: orderedList}).then(response => {
                              console.log(response)
                            })
                        }
                    })
                //}, 500)
            },

            toggleVisibility (block) {
                Vue.set(block, 'isHidden', ! block.isHidden)

                if (this.debounceTimeout) {
                    clearTimeout(this.debounceTimeout)
                }

                this.debounceTimeout = setTimeout(() => {
                    this.$http.put(`/cms/api/blocks/${block.id}`, {'action': 'toggleVisibility', 'visibility': block.isHidden}).then(response => this.loadBlock())  
                }, 1000)

            }

        },

        ready () {
            this.loadBlock()

            this.initSortable()
        }
    }
</script>
