<template>
    <div class="MediaUploaderDialog" v-bind:class="{'MediaUploaderDialog--visible': showDialog}">
        <div class="MediaUploaderDialog__overlay" @click="closeDialog($event)">
            <div class="MediaUploaderDialog__overlay__dialog" v-el:mediaDialog>

                <div class="row">
                    <div class="col-md-12">
                        <form action="" method="post" enctype="multipart/form-data" multiple class="MediaUploaderDialog__overlay__dialog__uploader" v-el:mediaDialogDragUploader>
                            Je kunt bestanden hier naartoe slepen of een bestand kiezen...
                            <input class="MediaUploaderDialog__overlay__dialog__uploader__fileInput" v-el:mediaDialogFileUploader type="file" name="files[]" id="file" data-multiple-caption="{count} files selected" multiple />
                        </form>
                    </div>
                </div>

                <div class="MediaUploaderDialog__overlay__dialog__uploads row">
                    <div class="col-md-2" v-if="showDialog" v-for="upload in uploads.all">
                        <div
                            class="MediaUploaderDialog__overlay__dialog__uploads__upload"
                            v-bind:class="{
                                'MediaUploaderDialog__overlay__dialog__uploads__upload--file': !upload.is_image,
                                'MediaUploaderDialog__overlay__dialog__uploads__upload--image': upload.is_image,
                                'MediaUploaderDialog__overlay__dialog__uploads__upload--selected': hasUpload(upload)}"
                            @click="toggleSelected(upload)">

                            <div v-if="upload.id" class="MediaUploaderDialog__overlay__dialog__uploads__upload__icon">
                                <img v-if="upload.is_image" v-bind:src="upload.cms_preview">
                                <span>{{ upload.filename }}</span>
                            </div>

                            <div v-if="! upload.id && ! upload.error" class="MediaUploaderDialog__overlay__dialog__uploads__upload__progress">
                                <svg class="Spinner" viewBox="25 25 50 50">
                                  <circle class="Spinner__path" cx="50" cy="50" r="20" fill="none" stroke-width="4" stroke-miterlimit="10"/>
                                </svg>
                            </div>

                            <div v-if="upload.error">
                                <i class="MediaUploaderDialog__overlay__dialog__uploads__upload__error">{{ upload.filename }}</i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="MediaUploaderDialog__overlay__dialog__buttonbar">
                    <button class="button" @click.prevent="hideDialog()" id="saveBtn">Opslaan</div>
                </div>
            </div>
        </div>
    </div>

    <div class="col col-md-12">
        <input type="hidden" v-for="upload in blockUploads" v-bind:name="hook + '[]'" v-bind:value="upload.id">
        <div class="MediaUploader" v-el:mediaUploader>
            <div class="MediaUploader__noUploads" id="MediaUploader__noUploads" @click="openDialog()" v-if="this.uploads.block.length == 0">Klik hier om bestanden toe te voegen</div>
            <div class="row" v-if="this.uploads.block.length > 0">
                <div class="col-md-3">
                    <div class="MediaUploader__addUpload" @click="openDialog()">+</div>
                </div>
                <div class="col-md-3" v-for="upload in blockUploads">
                    <div class="MediaUploader__upload" v-bind:class="{'MediaUploader__upload--image': upload.is_image, 'MediaUploader__upload--file': ! upload.is_image}">
                        <img v-if="upload.is_image" v-bind:src="upload.cms_preview">
                        <span v-if="! upload.is_image">{{ upload.filename }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import $ from 'jquery';
    export default {

        props: ['block', 'hook'],

        data () {
            return {
                showDialog: false,
                droppedFiles: null,
                queue: [],

                uploads: {
                    all: [],
                    block: []
                }
            }
        },

        methods: {

            // Get all uploaded files and return the promise.
            getAllUploads () {
                return this.$http.get(`/cms/api/uploads`);
            },

            // Get all uploads for this custom field.
            getBlockUploads () {
                return this.$http.get(`/cms/api/uploads?block_id=${this.block}&hook=${this.hook}`)
            },

            // Open the uploader dialog.
            openDialog() {
                this.getAllUploads()
                    .then(response => {
                        this.uploads.all = response.data;

                        this.uploads.all = this.uploads.all.sort(upload => {
                            if (this.hasUpload(upload)) {
                                return -1;
                            }
                            return 1;
                        });

                        this.showDialog = true;
                    });
            },

            // Hide the modal dialog
            hideDialog() {
                this.showDialog = false;
            },

            // Close the uploader dialog
            closeDialog($event) {
                if ($event.target.className == 'MediaUploaderDialog__overlay') {
                    this.hideDialog();
                }
            },

            // Determine if the block has the given upload
            hasUpload(upload) {
                return this.uploads.block.includes(upload.id);
            },


            // Toggle the selected state for the given upload
            toggleSelected(upload) {
                if (! upload.id) {
                    return;
                }

                if (this.uploads.block.includes(upload.id)) {
                    this.uploads.block.splice(this.uploads.block.indexOf(upload.id), 1);
                } else {
                    this.uploads.block.push(upload.id);
                }
            },

            // Add a dummy "uploading" file
            addDummy (file) {
                this.uploads.all.unshift({
                    'id':            null,
                    'filename':      null,
                    'is_image':      null,
                    'original_ext':  null,
                    'original_size': null,
                    'error':         null
                });
            },

            // Upload the given files
            uploadFiles (files) {

                Vue.http.options.emulateJSON = true;

                for (let i = 0; i < files.length; i++) {

                    let dummyId = this.addDummy(files[i], i);

                    this.queue[i] = {
                        'id':            i,
                        'file':          files[i],
                        'transfer':      new FormData
                    };

                    this.queue[i].transfer.append('file', this.queue[i].file);

                    this.$http.post('/cms/api/uploads', this.queue[i].transfer)
                        .then(response => {
                            if (response.data.duplicate) {
                                this.uploads.all.splice(this.queue[i].id, 1);
                            } else {
                                Vue.util.extend(
                                    this.uploads.all[this.queue[i].id],
                                    response.data.upload
                                );
                            }

                            this.uploads.block.push(response.data.upload.id);
                        })
                        .catch(response => {
                            this.uploads.all[this.queue[i].id].error = true;
                        });
                }
            },

            // Initialize the drag drop upload
            bindEvents() {

                var $mediaUploader           = $(this.$els.mediauploader);
                var $mediaDialog             = $(this.$els.mediadialog);
                var $mediaDialogFileUploader = $(this.$els.mediadialogfileuploader);

                // Drag files right onto the media uploader
                $mediaUploader.on('drag dragstart dragend dragover dragenter dragleave drop', e => e.preventDefault() && e.stopPropagation());
                $mediaUploader.on('dragover dragenter', e => this.openDialog());

                // Drag files onto the dialog
                $mediaDialog.on('drag dragstart dragend dragover dragenter dragleave drop', e => e.preventDefault() && e.stopPropagation());
                $mediaDialog.on('dragover dragenter', () => $mediaDialog.addClass('MediaUploaderDialog__overlay__dialog--dragover'));
                $mediaDialog.on('dragleave dragend drop', () => $mediaDialog.removeClass('MediaUploaderDialog__overlay__dialog--dragover'));
                $mediaDialog.on('drop', e => this.uploadFiles(e.originalEvent.dataTransfer.files));

                // Manually upload files using file dialog
                $mediaDialogFileUploader.on('change', e => {
                    this.uploadFiles(e.target.files);

                    e.target.value = null;
                });
            }

        },

        computed: {
            blockUploads () {
                var u = Vue.util.extend([], this.uploads.all)

                return u.filter(upload => {
                    return this.uploads.block.includes(upload.id);
                });
            }
        },

        ready () {

            this.getAllUploads().then(response => this.uploads.all = response.data);

            this.getBlockUploads().then(response => this.uploads.block = response.data);

            this.bindEvents();
        }
    }
</script>
