body#login {
    width: 100%;
    height: 100%;

    > header {
        display: none;
    }

    > main {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        max-width: none;
        margin: 0;

        h1 {
            text-align: center;

            &:after {
                width: 40px;
            }
        }

        input, button {
            margin-bottom: $column-gutter / 2;
        }
    }
}