.breadcrumbs {
    display: block;
    list-style: none;

    > li {
        display: inline-block;

        > a {
            color: lighten(#000, 20%);

        }

        &:after,
        &:before {
            font-family: 'Ionicons';
            content: '\f125';
            display: inline-block;
            font-size: 0.8rem;
            width: 2rem;
            text-align: center;
            vertical-align: middle;
            margin-right: $column-gutter / 4;
        }

        &:last-child:after {
            content: '';
        }

        &:not(:first-child):before {
            display: none;
        }

        &:first-child:before {
            content: '\f38f';
            color: $primary-color;
        }
    }
}
