.buttonbar {
    &-topright {
        position: absolute;
        right: $column-gutter; top: $column-gutter;
    }

    &-right {
        text-align: right;
    }
}

.button {
    display: inline-block;
    background: $primary-color;
    border: solid 1px $primary-color;
    padding: $column-gutter / 4 $column-gutter / 2;
    color: #fff;
    margin-left: $column-gutter / 2;
    font-family: $font;
    font-size: 1rem;
    cursor: pointer;
    outline: none;
    text-decoration: none;

    &-ghost {
        background: transparent;
        color: $primary-color;
    }

    &-flat {
        background: transparent;
        border-color: transparent;
        color: $primary-color;
    }

    &-right {
        float: right;
    }

    &-fullwidth {
        width: 100%;
        margin-left: 0;
    }

    &-noMargin {
        padding-right: $column-gutter / 4;
    }
}
