.flash-message {
    position: fixed;
    width: 100%;
    max-width: 500px;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 0;
    padding: $column-gutter / 2 $column-gutter;
    background: #353235;
    color: #fff;
    opacity: 0;
    transition: all 750ms;

    > ul {
        list-style: none;
        margin: 0;
        padding: 0;
        float: right;

        > li {
            > a {
                color: lighten($primary-color, 10%);
                text-decoration: none;
                text-transform: uppercase;
            }
        }
    }

    &-fadein {
        opacity: 1;
        transform: translateY(-2rem);
    }
}