@import 'components/button.scss'
@import 'components/upload'
@import 'components/ace'

form
	display: block
	width: 100%
	padding-top: $column-gutter

	&.nospacing
		padding-top: 0

	.col
		position: static
		margin-bottom: $column-gutter

		> label
			display: block
			font-weight: bold
			text-transform: uppercase
			font-size: 0.9rem
			margin-bottom: $column-gutter / 2

		div.form-error
			color: #F44336
			margin-top: $column-gutter / 4


input:not([type=checkbox]),
select,
textarea
	&:not(.submit)
		width: 100%
		padding: $column-gutter / 2.5
		border: none
		border-radius: $border-radius
		font-family: $font
		font-size: 1rem
		background: $white
		outline: none
		border: solid 1px lighten($border-color, 5%)
		box-shadow: inset 0 -60px 0 #fff
		font-weight: 300

		&:focus
			border-color: darken($border-color, 15%)

		&[readonly],
		&[disabled]
			background: darken(#fff, 3%)
			color: darken(#fff, 40%)
			box-shadow: inset 0 -60px 0 darken(#fff, 3%);

		&[placeholder*=JSON]
			font-family: 'Courier'

		&.form-error
			border-color: #F44336
			&::-webkit-input-placeholder
				color: #F44336

select
	-webkit-appearance: listbox
