.hierarchy
    list-style: none
    border: dashed 1px $border-color
    padding: $column-gutter / 2
    max-height: 20rem
    overflow: scroll
    overflow-x: hidden

    > li
        &:not(:first-child)
            margin-left: $column-gutter

        &:first-child > ul
            margin-top: $column-gutter / 2

        ul
            list-style: none

            li
                margin-left: $column-gutter / 2

                label
                    margin-bottom: 0
                    font-size: 0.9rem
                    cursor: pointer
                    padding-bottom: 4px
                    border-bottom: solid 1px #fff

                    input:checked + span
                        font-weight: bold

    li
        cursor: pointer
        color: #000