@mixin icon($icon) {
    &:before {
        font-family: 'Ionicons';
        content: $icon;
    }
}

@mixin icon-hover($icon) {
    &:hover {
        @include icon($icon);
    }
}

.icon {
    font-style: normal;
    &:before,
    &:after {
        font-family: 'Ionicons';
        vertical-align: middle;
        display: none;
    }

    &:before {
        margin-right: $column-gutter / 4;
    }

    &:after {
        margin-left: $column-gutter / 4;
    }

    &-before:before {
        display: inline-block;
    }
    &-after:after {
        display: inline-block;
    }

    &-faded {
        opacity: .2;
    }

    &-edit:before,
    &-edit:after {
        content: '\f2bf';
    }

    &-delete:before,
    &-delete:after {
        content: '\f37f';
    }

    &-properties:before,
    &-properties:after {
        content: '\f43d';
    }

    &-check:before,
    &-check:after {
        content: '\f122';
    }

    &-page:before,
    &-page:after {
        content: '\f12f';
    }

    &-category:before,
    &-category:after {
        content: '\f2e0';
    }

    &-plus:before,
    &-plus:after {
        content: '\f218';
    }

    &-revert:before,
    &-revert:after {
        content: '\f21e';
    }

    &-apply:before,
    &-apply:after {
        content: '\f2e3';
    }
}
