.MediaUploader {
    border: dashed 1px lighten($border-color, 5%);
    padding: $column-gutter;

    .MediaUploader__noUploads,
    .MediaUploader__addUpload {
        height: 190px;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        font-size: 1.5rem;
        color: #888;
        cursor: pointer;

        &:hover {
            color: #000;
        }
    }

    .MediaUploader__addUpload {
        border: dashed 1px $border-color;
    }

    .MediaUploader__upload {
        width: 100%;
        height: 190px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: $column-gutter;
        padding: 0 $column-gutter;
        text-align: center;

        &--file {
            > span {
                font-size: 0.9rem;

                &:before {
                    display: block;
                    font-family: 'Ionicons';
                    content: '\f381';
                    font-size: 2rem;
                    margin-bottom: $column-gutter / 2;
                }
            }
        }
        &--image {
            overflow: hidden;
            padding: 0;
        }
    }
}

.MediaUploaderDialog {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    pointer-events: none;

    > .MediaUploaderDialog__overlay {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.5);
        opacity: 0;
        cursor: pointer;
        transition: opacity 400ms;

        > .MediaUploaderDialog__overlay__dialog {
            width: 100%;
            max-width: 60rem;
            height: calc(100% - 10rem);
            margin: 0 $column-gutter;
            background: #fff;
            padding: $column-gutter;
            transform: translateY(-$column-gutter);
            opacity: 0;
            cursor: auto;
            transition: all 300ms;

            .MediaUploaderDialog__overlay__dialog__uploader {
                min-height: 10rem;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                margin-bottom: $column-gutter;
                padding: $column-gutter;
                border: dashed 2px $border-color;

                &--dragover {
                    > span {
                        pointer-events: none;

                        &:nth-of-type(1) {
                            display: none;
                        }
                        &:nth-of-type(2) {
                            display: flex;
                        }
                    }
                }

                > .MediaUploaderDialog__overlay__dialog__uploader__fileInput {
                    max-width: 250px;
                    margin-top: $column-gutter / 2;
                }
            }

            .MediaUploaderDialog__overlay__dialog__uploads {
                overflow-y: scroll;
                height: calc(100% - 16rem);

                > div {
                    > .MediaUploaderDialog__overlay__dialog__uploads__upload {
                        position: relative;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 100%;
                        height: 200px;
                        cursor: pointer;
                        margin-bottom: $column-gutter;

                        &:after {
                            font-family: 'Ionicons';
                            content: '\f383';
                            display: inline-block;
                            position: absolute;
                            margin: auto;
                            left: 0;
                            right: 0;
                            bottom: -$column-gutter;
                            width: 1rem;
                            height: 1rem;
                            background: #fff;
                            color: #fff;
                            border: solid 2px $primary-color;
                            border-radius: 4px;
                        }

                        &--file {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            flex-direction: column;
                            padding: 0 $column-gutter;

                            .MediaUploaderDialog__overlay__dialog__uploads__upload__icon:before {
                                display: block;
                                font-family: 'Ionicons';
                                content: '\f381';
                                font-size: 1.5rem;
                                text-align: center;
                                margin-bottom: $column-gutter / 2;
                            }
                        }

                        &--image {
                            img {
                                width: 100%;
                                height: auto;
                            }
                        }

                        &--selected {
                            &:after {
                                background: $primary-color;
                            }
                        }

                        span {
                            position: absolute;
                            left: 0;
                            bottom: 0;
                            text-align: center;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            overflow: hidden;
                            width: 100%;
                        }

                        .MediaUploaderDialog__overlay__dialog__uploads__upload__error {
                            display: block;
                            padding: 0 $column-gutter;
                            text-align: center;
                            color: red;
                            font-size: 0.9rem;

                            &:before {
                                display: block;
                                font-family: 'Ionicons';
                                content: '\f3bc';
                                font-style: normal;
                                font-size: 2rem;
                                margin-bottom: $column-gutter / 4;
                            }
                        }
                    }
                }
            }

            .MediaUploaderDialog__overlay__dialog__buttonbar {
                height: $column-gutter * 2;
                line-height: $column-gutter * 2;
                text-align: right;
            }
        }
    }

    &--visible {
        pointer-events: all;

        > .MediaUploaderDialog__overlay {
            opacity: 1;

            > .MediaUploaderDialog__overlay__dialog {
                transform: translateY(0);
                opacity: 1;
                box-shadow: 0 0 100px rgba(0,0,0,0.1);
            }
        }
    }
}
