.notification
	margin: $column-gutter / 2 0 $column-gutter 0
	background: lighten($border-color, 5%)
	padding: $column-gutter / 4

	@include icon('\f399')

	&.--success
		background: $green
		@include icon('\f383')

	&.--warning
		background: lighten(yellow, 30%)
		@include icon('\f101')

	&.--error
		background: $red
		color: $white
		@include icon('\f3bc')