.mce-panel.mce-container.mce-tinymce {
    background: transparent !important;
    border: solid 1px lighten($border-color, 5%) !important;
    border-radius: 4px !important;
}

.mce-toolbar {
    padding: $column-gutter / 4 !important;
}

.mce-toolbar-grp {
    background: transparent !important;
}

.mce-statusbar {
    display: none !important;
}

.mce-edit-area {
    padding: 0 5px !important;
}