.trumbowyg-box,
.trumbowyg-editor {
    border-color: $border-color;
    border-radius: $border-radius;
}

.trumbowyg-button-pane {
    background: #fff;
}

.trumbowyg-modal-box form {
    padding-top: 0;
}

.trumbowyg-modal-box label input {
    padding: 0 $column-gutter / 4 !important;
}

.trumbowyg-modal-box .trumbowyg-modal-button {
    font-family: $font;
    font-size: 1rem;

    &.trumbowyg-modal-submit {
        background: $primary-color !important;
    }    
}

.trumbowyg-editor ol,
.trumbowyg-editor ul {
    margin-left: $column-gutter / 2;
}
    
