.Upload
    padding: $column-gutter / 2
    border: dashed 1px $border-color
    border-radius: $border-radius

    &:hover
        border-color: $border-color-dark

    input[type=file]
        display: none

    .filename
        position: absolute
        left: $column-gutter * 4.5
        top: $column-gutter / 1.25
        font-size: 1.2rem
        color: darken($border-color, 10%)
        width: calc(100% - 11rem)
        text-align: left
        overflow: hidden
        text-overflow: ellipsis
        white-space: nowrap

    .no-upload
        height: $column-gutter * 3
        line-height: $column-gutter * 3
        text-align: center
        font-size: 1.5rem
        cursor: pointer

        @include icon('\f409')
        @include icon-hover('\f40a')

    .uploaded-file,
    .no-upload-new
        height: 8rem
        text-align: center
        padding-top: $column-gutter
        width: calc(50% - 1rem)
        display: inline-block
        background: $border-color-light
        margin-right: $column-gutter / 2
        margin-bottom: $column-gutter / 2
        vertical-align: top
        position: relative

        .img-preview,
        .file-preview
            width: 90px
            height: 90px
            overflow: hidden
            position: absolute
            left: $column-gutter / 1.25
            top: $column-gutter / 1.5
            border-radius: 999rem

            img
                width: 100%
                height: 100%

                &:before
                    position: absolute
                    margin-top: 1.25rem
                    margin-left: -.5rem
                    background: red
                    color: white
                    width: 20px
                    border-radius: 999rem

        .file-preview
            border: dashed 1px $border-color
            background: $white
            padding-top: 20px
            @include icon('\f381')

            &:before
                margin: 0 auto
                color: purple

            &:before
                display: block

        .img-notfound
            position: absolute
            left: $column-gutter
            top: $column-gutter / 1.5
            cursor: help
            @include icon('\f100')

            &:before
                position: absolute
                margin-top: $column-gutter
                width: 30px
                height: 30px
                font-size: 1.3rem
                background: $red
                color: $white
                text-align: center
                border-radius: 999rem

        &.no-upload-new
            border: dashed 1px $border-color
            background: $white
            padding-top: 0
            line-height: 8rem
            cursor: pointer
            @include icon('\f409')
            @include icon-hover('\f40a')

            &:hover
                border-color: $border-color-dark

        &.to-be-uploaded
            padding-top: 0
            line-height: 8rem
            color: $green
            font-weight: bold
            @include icon('\f122')

        .button
            display: inline-block
            margin-top: $column-gutter
            margin-right: $column-gutter / 2
            float: right

        .button:hover
            background: $border-color-light

        &:nth-of-type(even)
            margin-right: 0
            margin-left: $column-gutter / 3
            border-right: none

    input[type=checkbox]
        display: none

        &:checked + .delete
            background: $white
            border-color: $primary-color
            color: $primary-color
            @include icon('\f383')
